

.justify-content-center{
  background-color: teal;
  padding: 10px 10px;
}

a{
  color: white;
  text-decoration-style: none;
  font-size: 18px;
}

a:hover{
color: rgb(187, 207, 247);
transition: 0.4s;
font-weight: 410;
}

